Makefile
Makefile.in
autom4te.cache/
*.m4
compile
config.*
depcomp
include/ydpdict.h
missing
.deps/
.libs/
pkgconfig/libydpdict.pc
*.la
*.o
*.lo
stamp-*
install-sh
libtool
ltmain.sh
configure
misc/gentable
misc/ydp2stardict
misc/ydpstress
misc/ydptest
misc/ydpxml
misc/*.html
misc/*.rtf
